interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/Pages/TaxAndDutybulletins.aspx
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"\
        \ /><meta name=\"description\" /><meta name=\"author\" />\r\n\r\n  <!-- Mobile\
        \ viewport optimized: j.mp/bplateviewport -->\r\n  <meta name=\"viewport\"\
        \ content=\"width=device-width, initial-scale=1.0\" />\r\n\r\n  <!-- jquery\
        \ -->\r\n  <script type=\"text/javascript\" src=\"/_layouts/StatNav.Web.UKTI.Branding/script/libs/jquery-1.4.4.min.js\"\
        ></script>\r\n  <script type=\"text/javascript\" src=\"/_layouts/StatNav.Web.UKTI.Branding/script/libs/jquery-ui-1.8.14.custom.min.js\"\
        ></script>\r\n  <script type=\"text/javascript\" src=\"/_layouts/StatNav.Web.UKTI.Branding/script/libs/jquery.cookie.js\"\
        ></script>\r\n  \r\n  <!-- Place favicon.ico & apple-touch-icon.png in the\
        \ root of your domain and delete these references -->\r\n  <link rel=\"shortcut\
        \ icon\" href=\"/favicon.ico\" /><link rel=\"apple-touch-icon\" href=\"/apple-touch-icon.png\"\
        \ />\r\n\r\n  <!-- All JavaScript at the bottom, except for Modernizr which\
        \ enables HTML5 elements & feature detects -->\r\n  <!--<script src=\"/_layouts/StatNav.Web.UKTI.Branding/script/libs/modernizr-1.7.min.js\"\
        ></script>-->\r\n  <script src=\"/_layouts/StatNav.Web.UKTI.Branding/script/libs/modernizr-2.6.1.min.js\"\
        ></script>\r\n\t\r\n\t<!--end of custom header code-->\r\n\t\t\r\n\t<!-- robots\
        \ -->\r\n\t\r\n\t\r\n\t<!-- page title - overridden by asp:content on pages\
        \ or page layouts -->\r\n\t<title>\r\n\t\r\n\tTax &amp; Duty Bulletins\r\n\
        \r\n</title>\r\n\t\r\n\t<!-- favicon -->\r\n\t\r\n\t\r\n\t<!-- all OOTB css\
        \ -->\r\n\t<link rel=\"stylesheet\" type=\"text/css\" href=\"/Style%20Library/en-US/Themable/Core%20Styles/controls.css\"\
        />\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/_layouts/1033/styles/Themable/search.css?rev=T%2Bhraxktc1A8EnaG5gGMHQ%3D%3D\"\
        />\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/_layouts/1033/styles/Themable/corev4.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalBulletins/Pages/BulletinArchive.aspx?viewname=Landfill%20Tax%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  <meta http-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalBulletins/Pages/BulletinArchive.aspx?viewname=Betting%2C%20Gaming%20and%20Lottery%20Duties%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalBulletins/Pages/BulletinArchive.aspx?viewname=Value%20Added%20Tax%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  <meta [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalBulletins/Pages/BulletinArchive.aspx?viewname=Beer%20and%20Cider%20Duties%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalBulletins/Pages/BulletinArchive.aspx?viewname=Made%20Wine%20Duties%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  <meta[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalBulletins/Pages/BulletinArchive.aspx?viewname=Spirits%20Duties%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  <meta htt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalBulletins/Pages/BulletinArchive.aspx?viewname=Tobacco%20Duties%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  <meta htt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalBulletins/Pages/BulletinArchive.aspx?viewname=Wine%20of%20Fresh%20Grape%20Duties%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalBulletins/Pages/BulletinArchive.aspx?viewname=Insurance%20Premium%20Tax%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalBulletins/Pages/BulletinArchive.aspx?viewname=Aggregates%20Levy%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  <meta ht[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalBulletins/Pages/BulletinArchive.aspx?viewname=Alcohol%20Duty%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  <meta http-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalBulletins/Pages/BulletinArchive.aspx?viewname=Air%20Passenger%20Duty%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  <me[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalFactsheet/Pages/FactsheetArchive.aspx?viewname=Hydrocarbon%20Oils%20Duties%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalFactsheet/Pages/FactsheetArchive.aspx?viewname=Insurance%20Premium%20Tax%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalFactsheet/Pages/FactsheetArchive.aspx?viewname=Environmental%20Taxes%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  <me[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalFactsheet/Pages/FactsheetArchive.aspx?viewname=Air%20Passenger%20Duty%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  <m[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalFactsheet/Pages/FactsheetArchive.aspx?viewname=Betting%2C%20Gaming%20and%20Lottery%20Duties%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.uktradeinfo.com/Statistics/StatisticalFactsheet/Pages/FactsheetArchive.aspx?viewname=Tobacco%20Duties%20Archive
  response:
    body:
      string: "<!DOCTYPE html>\r\n<html class=\"no-js\" lang=\"en-us\">\r\n<head>\r\
        \n\t<!--start of custom header code-->\r\n\t<meta charset=\"utf-8\" />\r\n\
        \r\n  <!-- Always force latest IE rendering engine (even in intranet) & Chrome\
        \ Frame -->\r\n  <meta ht[...]
