[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"
nose = "*"
vcrpy = "*"
docker = "*"
pipenv-setup = "*"
v = {editable = true,version = "*"}

[packages]
gssutils = {editable = true,path = "."}
requests = {extras = ["security"],version = "*"}
certifi = "*"
uritemplate = "*"
jinja2 = "*"
backoff = "*"

[requires]
python_version = "3.8"
