interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://open.statswales.gov.wales/en-gb/dataset/hous2101
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"http://open.statswales.gov.wales/en-gb/dataset/$metadata#hous2101\",\"value\":[\r\n
        \   {\r\n      \"Data\":158.0,\"Area_Code\":\"600\",\"Area_ItemName_ENG\":\"Wales\",\"Area_SortOrder\":\"1\",\"Area_Hierarchy\":\"0\",\"Area_ItemNotes_ENG\":\"\",\"Area_AltCode1\":\"W92000004\",\"Measure_Code\":1.0,\"Measure_ItemName_ENG\":\"Total
        count of rough sleepers\",\"Measure_SortOrder\":\"1\",\"Measure_ItemNotes_ENG\":\"\",\"Year_Code\":\"201819\",\"Year_ItemName_ENG\":\"2018-19\",\"Year_SortOrder\":\"80\",\"Year_ItemNotes_ENG\":\"\",\"RowKey\":\"0000000000000000\",\"PartitionKey\":\"\"\r\n
        \   },{\r\n      \"Data\":4.0,\"Area_Code\":\"544\",\"Area_ItemName_ENG\":\"Caerphilly\",\"Area_SortOrder\":\"22\",\"Area_Hierarchy\":\"803\",\"Area_ItemNotes_ENG\":\"\",\"Area_AltCode1\":\"W06000018\",\"Measure_Code\":1.0,\"Measure_ItemName_ENG\":\"Total
        count of rough sleepers\",\"Measure_SortOrder\":\"1\",\"Measure_ItemNotes_ENG\":\"\",\"Year_Code\":\"201617\",\"Year_ItemName_ENG\":\"2016-17\",\"Year_SortOrder\":\"78\",\"Year_ItemNotes_ENG\":\"\",\"RowKey\":\"00000000[...]
