interactions:
- request:
    body: query=PREFIX+qb%3A+%3Chttp%3A%2F%2Fpurl.org%2Flinked-data%2Fcube%23%3E%0APREFIX+dim%3A+%3Chttp%3A%2F%2Fpurl.org%2Flinked-data%2Fsdmx%2F2009%2Fdimension%23%3E%0ASELECT+DISTINCT+%3Fchunk+WHERE+%7B%0A++++%3Fobs+qb%3AdataSet+%3Chttp%3A%2F%2Fgss-data.org.uk%2Fdata%2Fgss_data%2Fcovid-19%2Fnrs-deaths-involving-coronavirus-covid-19-in-scotland%23dataset%3E%3B+%3Chttp%3A%2F%2Fpurl.org%2Flinked-data%2Fsdmx%2F2009%2Fdimension%23refPeriod%3E+%3Fchunk+.%0A%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://staging.gss-data.org.uk/sparql
  response:
    body:
      string: "{\n  \"head\" : {\n    \"vars\" : [\n      \"chunk\"\n    ]\n  },\n
        \ \"results\" : {\n    \"bindings\" : [\n      {\n        \"chunk\" : {\n
        \         \"type\" : \"uri\",\n          \"value\" : \"http://reference.data.gov.uk/id/gregorian-interval/2019-12-30T00:00:00/P1D\"\n
        \       }\n      },\n      {\n        \"chunk\" : {\n          \"type\" :
        \"uri\",\n          \"value\" : \"http://reference.data.gov.uk/id/gregorian-interval/2020-01-06T00:00:00/P1D\"\n
        \       }\n      },\n      {\n        \"chunk\" : {\n          \"type\" :
        \"uri\",\n          \"value\" : \"http://reference.data.gov.uk/id/gregorian-interval/2020-01-13T00:00:00/P1D\"\n
        \   [...]
