interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.gss-data.org.uk/sparql?query=PREFIX+qb%3A+%3Chttp%3A//purl.org/linked-data/cube%23%3E+PREFIX+dim%3A+%3Chttp%3A//purl.org/linked-data/sdmx/2009/dimension%23%3E+SELECT+DISTINCT+%3Fperiod+WHERE+%7B+%3Fobs+qb%3AdataSet+%3Chttp%3A//gss-data.org.uk/data/gss_data/covid-19/nrs-deaths-involving-coronavirus-covid-19-in-scotland%23dataset%3E%3B+dim%3ArefPeriod+%3Fperiod+.+%7D&format=json&output=json&results=json
  response:
    body:
      string: "{\n  \"head\" : {\n    \"vars\" : [\n      \"period\"\n    ]\n  },\n
        \ \"results\" : {\n    \"bindings\" : [\n      {\n        \"period\" : {\n
        \         \"type\" : \"uri\",\n          \"value\" : \"http://reference.data.gov.uk/id/gregorian-interval/2019-12-30T00:00:00/P1D\"\n
        \       }\n      },\n      {\n        \"period\" : {\n          \"type\" :
        \"uri\",\n          \"value\" : \"http://reference.data.gov.uk/id/gregorian-interval/2020-01-06T00:00:00/P1D\"\n
        \       }\n      },\n      {\n        \"period\" : {\n          \"type\" :
        \"uri\",\n          \"value\" : \"http://reference.data.gov.uk/id/gregorian-interval/2020-01-13T00:00:00/P1D\"\n
        \ [...]
